{namespace neos=TYPO3\Neos\ViewHelpers}
<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
	<f:then>
		<p>Search result view</p>
	</f:then>
	<f:else>
		<f:if condition="{searchResults}">
			<f:then>
				<div class="alert alert-success">
					Search result for "{searchParameter}"
				</div>
				<div id="search-result">
					<f:for each="{searchResults}" as="search">
							<neos:link.node node="{search.pageNode}">{search.pageTitle}</neos:link.node>
							<div class="search-value">{search.searchNode -> f:format.raw()}</div>
					</f:for>
					<span id="search-id">{searchParameter}</span>
				</div>
			</f:then>
			<f:else>
				<div class="alert alert-error">
					No search result found for "{searchParameter}"
				</div>
			</f:else>
		</f:if>
	</f:else>
</f:security.ifAccess>